@charset "UTF-8";
.btn-green {
  color: #fff;
  background-color: #465e0b;
  border-color: #465e0b;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.35); }
.btn-green:hover {
  color: #fff !important;
  box-shadow: none !important; }
.btn-green.focus, .btn-green:focus {
  box-shadow: inset -2px 2px 4px rgba(0, 0, 0, 0.35) !important; }

.btn-green-outline {
  color: #465e0b;
  background-image: none;
  background-color: transparent;
  border-color: #465e0b !important;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.35); }
.btn-green-outline:hover {
  color: #fff !important;
  background-color: #465e0b;
  border-color: #465e0b; }
.btn-green-outline.focus, .btn-green-outline:focus {
  box-shadow: none !important; }

.bg-green {
  background-color: #91c318; }

.bg-metall {
  background-color: #434b4d; }

.outline-n {
  outline: none !important; }

.pointer {
  cursor: pointer; }

.show-more-material img {
  transition: .3s;
  transform: rotate(180deg); }

.show-more-material.collapsed img {
  transition: .3s;
  transform: rotate(0deg) !important; }

.admin-main-title {
  color: #fff;
  padding: 8px; }
  .admin-main-title i {
    padding-right: 8px;
    border-right: 1px solid #fff;
    margin-right: 5px; }

.admin-main {
  padding: 0 5px 5px 5px; }
  .admin-main .admin-table-block {
    background-color: #fff;
    padding: 15px; }
    .admin-main .admin-table-block table {
      width: 100%; }
      .admin-main .admin-table-block table tr, .admin-main .admin-table-block table th {
        text-align: center; }
      .admin-main .admin-table-block table tbody img {
        height: 100px;
        width: 150px;
        object-fit: cover; }
      .admin-main .admin-table-block table tbody tr:nth-child(2n+1) {
        background-color: #f8f6f1; }

#modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 99999; }

.bg-gray {
  background-color: #f0f0f0; }

.img {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.btn, .custom-file-input {
  cursor: pointer; }

.btn-yellow-custom {
  color: #fff;
  background-color: #EDA316;
  border-color: #EDA316;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.35); }
.btn-yellow-custom:hover {
  color: #fff !important;
  box-shadow: none !important; }
.btn-yellow-custom.focus, .btn-yellow-custom:focus {
  box-shadow: inset -2px 2px 4px rgba(0, 0, 0, 0.35) !important; }

.btn-yellow-outline-custom {
  color: #EDA316;
  background-image: none;
  background-color: transparent;
  border-color: #EDA316 !important;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.35); }
.btn-yellow-outline-custom:hover {
  color: #fff !important;
  background-color: #EDA316;
  border-color: #EDA316; }
.btn-yellow-outline-custom.focus, .btn-yellow-outline-custom:focus {
  box-shadow: none !important; }

.btn-edit {
  color: #fff;
  background-color: #e97c69;
  border-color: #e97c69;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.35); }
.btn-edit:hover {
  color: #fff !important;
  box-shadow: none !important; }
.btn-edit.focus, .btn-edit:focus {
  box-shadow: inset -2px 2px 4px rgba(0, 0, 0, 0.35) !important; }

.btn-show {
  color: #fff;
  background-color: #4b6382;
  border-color: #4b6382;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.35); }
.btn-show:hover {
  color: #fff !important;
  box-shadow: none !important; }
.btn-show.focus, .btn-show:focus {
  box-shadow: inset -2px 2px 4px rgba(0, 0, 0, 0.35) !important; }

.btn-remove {
  color: #fff;
  background-color: #de5b5f;
  border-color: #de5b5f;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.35); }
.btn-remove:hover {
  color: #fff !important;
  box-shadow: none !important; }
.btn-remove.focus, .btn-remove:focus {
  box-shadow: inset -2px 2px 4px rgba(0, 0, 0, 0.35) !important; }

.custom-file-input:focus ~ .custom-file-control {
  box-shadow: none !important; }

#form-login input[type$=text] {
  background-color: #434b4d;
  color: #EDA316; }
  #form-login input[type$=text]:focus {
    border: 1px solid #EDA316;
    box-shadow: 0 0 0 0.2rem rgba(237, 163, 22, 0.25); }
#form-login input[type$=password] {
  background-color: #434b4d;
  color: #EDA316; }
  #form-login input[type$=password]:focus {
    border: 1px solid #EDA316;
    box-shadow: 0 0 0 0.2rem rgba(237, 163, 22, 0.25); }
#form-login input[type$=email] {
  background-color: #434b4d;
  color: #EDA316; }
  #form-login input[type$=email]:focus {
    border: 1px solid #EDA316;
    box-shadow: 0 0 0 0.2rem rgba(237, 163, 22, 0.25); }
#form-login .custom-control-indicator {
  background-color: transparent;
  border: 1px solid #ced4da; }
#form-login .custom-control-input:checked ~ .custom-control-indicator {
  color: #fff;
  background-color: #EDA316; }
#form-login .custom-control-input:focus ~ .custom-control-indicator {
  border: 1px solid #EDA316;
  box-shadow: 0 0 0 1px #EDA316, 0 0 0 0.2rem rgba(237, 163, 22, 0.25); }

.bg-wrapper {
  background-image: url(../images/templates/cream_dust.png); }

.services-block .services-overflow {
  overflow: hidden;
  position: relative; }
  .services-block .services-overflow img {
    transition: .3s; }
  .services-block .services-overflow .services-overflow-decs {
    display: inline-block;
    transition: .3s;
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
    width: 50%; }
  .services-block .services-overflow .services-overflow-img-layer {
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: .3s;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
.services-block:hover img {
  transform: translateX(-50%); }
.services-block:hover .services-overflow .services-overflow-decs {
  left: 50%; }
.services-block:hover .services-overflow .services-overflow-img-layer {
  transform: translateX(-50%);
  opacity: 1; }

@media (max-width: 575px) {
  .icons8-Стрелка-Filled {
    transform: rotate(90deg); }

  .services-block .services-overflow-decs {
    width: 75% !important; }
  .services-block:hover img {
    transform: translateX(-75%); }
  .services-block:hover .services-overflow .services-overflow-decs {
    left: 25%; }
  .services-block:hover .services-overflow .services-overflow-img-layer {
    transform: translateX(-75%);
    opacity: 1; } }
footer {
  color: #fff;
  background-image: url(../images/templates/bg_footer.png); }

.fl {
  float: left; }

.fr {
  float: right; }

.special-title {
  position: relative; }
  @media (max-width: 767px) {
    .special-title::after {
      border: none !important; }
    .special-title::before {
      border: none !important; } }
  .special-title::after {
    content: '';
    position: absolute;
    border: 21px solid transparent;
    border-right: 10px solid #fbfbfb;
    right: 0; }
  .special-title::before {
    content: '';
    position: absolute;
    /* Абсолютное позиционирование */
    border: 21px solid transparent;
    border-left: 10px solid #fbfbfb;
    left: 0; }

.img-steps {
  transition: .3s; }
  .img-steps:hover {
    transform: rotate(360deg); }

.nav-link.active {
  background-color: #fff;
  transition: .3s; }

.shadow {
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.35); }

.hidden {
  opacity: 0; }

.visible {
  opacity: 1; }

body {
  font-family: "PT Sans", sans-serif !important; }

.img-materials {
  position: relative;
  overflow: hidden; }
  .img-materials::before {
    content: '';
    background: rgba(255, 255, 255, 0.1);
    height: 30px;
    width: 400px;
    top: -30px;
    transition: .3s;
    transform: rotate(-45deg);
    position: absolute;
    left: -200px;
    z-index: 999999; }
  .img-materials:hover::before {
    top: 70%;
    left: 100px; }

.text-green {
  color: #91c318 !important; }

.bg-beige {
  background-color: #f8f6f1; }

.admin-main-menu {
  margin: 0; }
  .admin-main-menu li {
    float: left;
    list-style-type: none; }
    .admin-main-menu li :hover {
      background: #f8f6f1; }
    .admin-main-menu li a {
      display: block;
      padding: 8px;
      text-decoration: none;
      color: #212529; }

#header .nav-link {
  border-radius: 2px;
  color: white !important; }
  #header .nav-link:hover {
    color: #465e0b !important; }
#header a.nav-link.active {
  color: rgba(0, 0, 0, 0.5) !important; }

.layer-footer {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999999;
  display: none; }

.big {
  font-size: 20px;
  letter-spacing: 2px; }

.footer-input {
  background-image: url(../images/templates/bg_footer.png) !important;
  border: 1px solid white !important;
  color: white !important;
  box-shadow: none !important; }

.bg {
  background-image: url(../images/templates/bg2.png); }

.item, .owl-item, .owl-stage, .owl-stage-outer {
  height: 100%; }

.slidebar-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 255px;
  z-index: 0; }
  .slidebar-menu ul li {
    width: 100%; }
    .slidebar-menu ul li a {
      padding: 10px 20px;
      display: block;
      text-decoration: none;
      color: #fff; }
      .slidebar-menu ul li a i {
        margin-right: 10px; }
      .slidebar-menu ul li a:hover {
        background-color: #616163;
        color: #EDA316; }

.admin-main-fluid {
  position: relative;
  z-index: 1;
  transition: .3s;
  box-shadow: -5px 0px 8px 0px rgba(0, 0, 0, 0.2); }

@-webkit-keyframes animate-circle {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }
@keyframes animate-circle {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }
.loader {
  --size: 10rem;
  height: var(--size);
  width: var(--size); }

.loader > .circle {
  --duration: 2s;
  position: absolute;
  height: inherit;
  width: inherit;
  background: #91c318;
  border-radius: 50%;
  -webkit-animation: animate-circle var(--duration) cubic-bezier(0.9, 0.24, 0.62, 0.79) infinite;
  animation: animate-circle var(--duration) cubic-bezier(0.9, 0.24, 0.62, 0.79) infinite; }

.loader > .circle:nth-of-type(1) {
  -webkit-animation-delay: 0;
  animation-delay: 0; }

.loader > .circle:nth-of-type(2) {
  -webkit-animation-delay: calc(var(--duration) / -3);
  animation-delay: calc(var(--duration) / -3); }

.loader > .circle:nth-of-type(3) {
  -webkit-animation-delay: calc(var(--duration) / -6);
  animation-delay: calc(var(--duration) / -6); }

html {
  font-family: 'Lato', sans-serif; }

body {
  margin: 0;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.msg {
  font-family: 'Pacifico', cursive;
  font-size: 8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  align-items: center;
  color: #FEFEFE;
  background-color: #91c318; }

.features {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  text-transform: uppercase; }
  .features li {
    width: 100%;
    text-align: center;
    padding: .25em; }

.drawer-list {
  z-index: 99999;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  transform: translate(100vw, 0);
  /* ie workaround */
  -ms-transform: translatex(-100vw);
  box-sizing: border-box;
  pointer-events: none;
  padding-top: 125px;
  transition: width 475ms ease-out, transform 450ms ease, border-radius .8s .1s ease;
  border-bottom-left-radius: 100vw;
  background-color: #8cab41;
  background-color: rgba(111, 150, 18, 0.8); }
  @media (min-width: 768px) {
    .drawer-list {
      width: 40vw; } }
  .drawer-list ul {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    overflow-x: hidden;
    pointer-events: auto; }
  .drawer-list li {
    list-style: none;
    text-transform: uppercase;
    pointer-events: auto;
    white-space: nowrap;
    box-sizing: border-box;
    transform: translatex(100vw);
    /* ie workaround */
    -ms-transform: translatex(-100vw); }
    .drawer-list li:last-child {
      margin-bottom: 2em; }
    .drawer-list li a {
      text-decoration: none;
      color: #FEFEFE;
      text-align: center;
      display: block;
      padding: 1rem;
      font-size: calc(24px - .5vw); }
      @media (min-width: 768px) {
        .drawer-list li a {
          text-align: right;
          padding: .5rem; } }
      .drawer-list li a:hover {
        cursor: pointer;
        background-color: #c8e18c;
        background-color: rgba(145, 195, 24, 0.5); }

input.hamburger {
  display: none; }
  input.hamburger:checked ~ .drawer-list {
    transform: translatex(0);
    border-bottom-left-radius: 0; }
    input.hamburger:checked ~ .drawer-list li {
      transform: translatex(0); }
      input.hamburger:checked ~ .drawer-list li:nth-child(1) {
        transition: transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(2) {
        transition: transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(3) {
        transition: transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(4) {
        transition: transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(5) {
        transition: transform 1s 0.4s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(6) {
        transition: transform 1s 0.48s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(7) {
        transition: transform 1s 0.56s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(8) {
        transition: transform 1s 0.64s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(9) {
        transition: transform 1s 0.72s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(10) {
        transition: transform 1s 0.8s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(11) {
        transition: transform 1s 0.88s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(12) {
        transition: transform 1s 0.96s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(13) {
        transition: transform 1s 1.04s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(14) {
        transition: transform 1s 1.12s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(15) {
        transition: transform 1s 1.2s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(16) {
        transition: transform 1s 1.28s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(17) {
        transition: transform 1s 1.36s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(18) {
        transition: transform 1s 1.44s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(19) {
        transition: transform 1s 1.52s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(20) {
        transition: transform 1s 1.6s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(21) {
        transition: transform 1s 1.68s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(22) {
        transition: transform 1s 1.76s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(23) {
        transition: transform 1s 1.84s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(24) {
        transition: transform 1s 1.92s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(25) {
        transition: transform 1s 2s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(26) {
        transition: transform 1s 2.08s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(27) {
        transition: transform 1s 2.16s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(28) {
        transition: transform 1s 2.24s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(29) {
        transition: transform 1s 2.32s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(30) {
        transition: transform 1s 2.4s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(31) {
        transition: transform 1s 2.48s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(32) {
        transition: transform 1s 2.56s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(33) {
        transition: transform 1s 2.64s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(34) {
        transition: transform 1s 2.72s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(35) {
        transition: transform 1s 2.8s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(36) {
        transition: transform 1s 2.88s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(37) {
        transition: transform 1s 2.96s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(38) {
        transition: transform 1s 3.04s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(39) {
        transition: transform 1s 3.12s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(40) {
        transition: transform 1s 3.2s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(41) {
        transition: transform 1s 3.28s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(42) {
        transition: transform 1s 3.36s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(43) {
        transition: transform 1s 3.44s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(44) {
        transition: transform 1s 3.52s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(45) {
        transition: transform 1s 3.6s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(46) {
        transition: transform 1s 3.68s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(47) {
        transition: transform 1s 3.76s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(48) {
        transition: transform 1s 3.84s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(49) {
        transition: transform 1s 3.92s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li:nth-child(50) {
        transition: transform 1s 4s cubic-bezier(0.29, 1.4, 0.44, 0.96); }
      input.hamburger:checked ~ .drawer-list li a {
        padding-right: 15px; }
  input.hamburger:checked ~ label > i {
    background-color: transparent;
    transform: rotate(90deg); }
    input.hamburger:checked ~ label > i:before {
      transform: translate(-50%, -50%) rotate(315deg); }
    input.hamburger:checked ~ label > i:after {
      transform: translate(-50%, -50%) rotate(-315deg); }
  input.hamburger:checked ~ label close {
    color: #FEFEFE;
    width: 100%; }
  input.hamburger:checked ~ label open {
    color: transparent;
    width: 0; }

label.hamburger {
  z-index: 999999;
  position: relative;
  display: block;
  height: 50px;
  width: 50px; }
  label.hamburger:hover {
    cursor: pointer; }
  label.hamburger text close,
  label.hamburger text open {
    text-transform: uppercase;
    font-size: .8em;
    align-text: center;
    position: absolute;
    transform: translateY(45px);
    text-align: center;
    overflow: hidden;
    transition: width .25s .35s, color .45s .35s; }
  label.hamburger text close {
    color: transparent;
    right: 0;
    width: 0; }
  label.hamburger text open {
    color: #FEFEFE;
    width: 100%; }
  label.hamburger > i {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    background-color: #FEFEFE;
    pointer-events: auto;
    transition-duration: .35s;
    transition-delay: .35s; }
    label.hamburger > i:before, label.hamburger > i:after {
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      left: 50%;
      background-color: #FEFEFE;
      content: "";
      transition: transform 0.35s;
      transform-origin: 50% 50%; }
    label.hamburger > i:before {
      transform: translate(-50%, -14px); }
    label.hamburger > i:after {
      transform: translate(-50%, 14px); }

label.hamburger {
  position: fixed;
  top: 0;
  right: 15px; }

/**
    SCROLLBAR STYLE FOR IE
*/
body {
  scrollbar-base-color: #138a72;
  scrollbar-3dlight-color: #fff;
  scrollbar-highlight-color: #1abc9c;
  scrollbar-track-color: #fff;
  scrollbar-arrow-color: #1abc9c;
  scrollbar-shadow-color: #1abc9c;
  scrollbar-dark-shadow-color: #1abc9c;
  -ms-overflow-style: -ms-autohiding-scrollbar; }

/*# sourceMappingURL=style.css.map */
