@charset "UTF-8";
.btn-green {
  color: #fff;
  background-color: #465e0b;
  border-color: #465e0b;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.35); }
.btn-green:hover {
  color: #fff !important;
  box-shadow: none !important; }
.btn-green.focus, .btn-green:focus {
  box-shadow: inset -2px 2px 4px rgba(0, 0, 0, 0.35) !important; }

.btn-green-outline {
  color: #465e0b;
  background-image: none;
  background-color: transparent;
  border-color: #465e0b !important;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.35); }
.btn-green-outline:hover {
  color: #fff !important;
  background-color: #465e0b;
  border-color: #465e0b; }
.btn-green-outline.focus, .btn-green-outline:focus {
  box-shadow: none !important; }

.bg-green {
  background-color: #91c318; }

.outline-n {
  outline: none !important; }

.pointer {
  cursor: pointer; }

.show-more-material img {
  transition: .3s;
  transform: rotate(180deg); }

.show-more-material.collapsed img {
  transition: .3s;
  transform: rotate(0deg) !important; }

#modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 99999; }

.bg-gray {
  background-color: #f0f0f0; }

.img {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.orange-to-purple {
  background: linear-gradient(to right, #EDA316, #2A145A); }

.bg-blur {
  filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5); }

.btn-yellow-custom {
  color: #fff;
  background-color: #EDA316;
  border-color: #EDA316;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.35); }
.btn-yellow-custom:hover {
  color: #fff !important;
  box-shadow: none !important; }
.btn-yellow-custom.focus, .btn-yellow-custom:focus {
  box-shadow: inset -2px 2px 4px rgba(0, 0, 0, 0.35) !important; }

.btn-yellow-outline-custom {
  color: #EDA316;
  background-image: none;
  background-color: transparent;
  border-color: #EDA316 !important;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.35); }
.btn-yellow-outline-custom:hover {
  color: #fff !important;
  background-color: #EDA316;
  border-color: #EDA316; }
.btn-yellow-outline-custom.focus, .btn-yellow-outline-custom:focus {
  box-shadow: none !important; }

.bg-wrapper {
  background-image: url(../images/templates/cream_dust.png); }

.services-block .services-overflow {
  overflow: hidden;
  position: relative; }
  .services-block .services-overflow img {
    transition: .3s; }
  .services-block .services-overflow .services-overflow-decs {
    display: inline-block;
    transition: .3s;
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
    width: 50%; }
  .services-block .services-overflow .services-overflow-img-layer {
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: .3s;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
.services-block:hover img {
  transform: translateX(-50%); }
.services-block:hover .services-overflow .services-overflow-decs {
  left: 50%; }
.services-block:hover .services-overflow .services-overflow-img-layer {
  transform: translateX(-50%);
  opacity: 1; }

footer {
  color: #fff;
  background-image: url(../images/templates/bg_footer.png); }

.fl {
  float: left; }

.fr {
  float: right; }

.special-title {
  position: relative; }
  .special-title::after {
    content: '';
    position: absolute;
    border: 21px solid transparent;
    border-right: 10px solid #fbfbfb;
    right: 0; }
  .special-title::before {
    content: '';
    position: absolute;
    /* Абсолютное позиционирование */
    border: 21px solid transparent;
    border-left: 10px solid #fbfbfb;
    left: 0; }

.nav-link.active {
  background-color: #fff;
  transition: .3s; }

.shadow {
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.35); }

.hidden {
  opacity: 0; }

.visible {
  opacity: 1; }

body {
  font-family: "PT Sans", sans-serif !important; }

.img-materials {
  position: relative;
  overflow: hidden; }
  .img-materials::before {
    content: '';
    background: rgba(255, 255, 255, 0.1);
    height: 30px;
    width: 400px;
    top: -30px;
    transition: .3s;
    transform: rotate(-45deg);
    position: absolute;
    left: -200px;
    z-index: 999999; }
  .img-materials:hover::before {
    top: 70%;
    left: 100px; }

.text-green {
  color: #91c318 !important; }

#header .nav-link {
  border-radius: 2px;
  color: white; }
#header a.nav-link.active {
  color: rgba(0, 0, 0, 0.5) !important; }

.layer-footer {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999999;
  display: none; }

.big {
  font-size: 20px;
  letter-spacing: 2px; }

.footer-input {
  background-image: url(../images/templates/bg_footer.png) !important;
  border: 1px solid white !important;
  color: white !important;
  box-shadow: none !important; }

.bg {
  background-image: url(../images/templates/bg2.png); }

.item, .owl-item, .owl-stage, .owl-stage-outer {
  height: 100%; }

@-webkit-keyframes animate-circle {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }
@keyframes animate-circle {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }
.loader {
  --size: 10rem;
  height: var(--size);
  width: var(--size); }

.loader > .circle {
  --duration: 2s;
  position: absolute;
  height: inherit;
  width: inherit;
  background: #91c318;
  border-radius: 50%;
  -webkit-animation: animate-circle var(--duration) cubic-bezier(0.9, 0.24, 0.62, 0.79) infinite;
  animation: animate-circle var(--duration) cubic-bezier(0.9, 0.24, 0.62, 0.79) infinite; }

.loader > .circle:nth-of-type(1) {
  -webkit-animation-delay: 0;
  animation-delay: 0; }

.loader > .circle:nth-of-type(2) {
  -webkit-animation-delay: calc(var(--duration) / -3);
  animation-delay: calc(var(--duration) / -3); }

.loader > .circle:nth-of-type(3) {
  -webkit-animation-delay: calc(var(--duration) / -6);
  animation-delay: calc(var(--duration) / -6); }

/*# sourceMappingURL=style.css.map */
