.outline-n{
  outline: none!important;
}
.pointer{
  cursor: pointer;
}
.show-more-material{
  img{
    transition: .3s;
    transform: rotate(180deg);
  }
}
.show-more-material.collapsed{
  img{
    transition: .3s;
    transform: rotate(0deg)!important;
  }
}
.bg-gray{
  background-color: #f0f0f0;
}
.img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.bg-wrapper{
  background-image: url(../images/templates/cream_dust.png);
}
.services-block{
  .services-overflow{
    overflow: hidden;
    position: relative;
    img{
      transition: .3s;
    }
    .services-overflow-decs{
      display: inline-block;
      transition: .3s;
      position: absolute;
      left: 100%;
      top: 0;
      bottom: 0;
      width: 50%;
    }
    .services-overflow-img-layer{
      background: rgba(0,0,0,.5);
      opacity: 0;
      transition: .3s;
      position: absolute;
      top:0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  &:hover{
    img{
      transform: translateX(-50%);
    }
    .services-overflow{
      .services-overflow-decs{
        left: 50%;
      }
      .services-overflow-img-layer{
        transform: translateX(-50%);
        opacity: 1;
      }
    }
  }
}
footer{
  color: #fff;
  background-image: url(../images/templates/bg_footer.png);
}
.fl{
  float:left;
}
.fr{
  float: right;
}
.special-title{
  position: relative;
  &::after{
    content: '';
    position: absolute;
    border: 21px solid transparent;
    border-right:21px solid #fbfbfb;
    right: 0;
  }
  &::before{
    content: '';
    position: absolute; /* Абсолютное позиционирование */
    border: 21px solid transparent;
    border-left: 21px solid #fbfbfb;
    left: 0;
  }
}
.hidden{
  opacity:0;
}
.visible{
  opacity:1;
}
body{
  font-family: 'PT Sans', sans-serif!important;
}
.img-materials{
  position: relative;
  overflow: hidden;
  &::before{
    content: '';
    background: rgba(255, 255, 255, 0.1);
    height: 30px;
width: 400px;
    top:-30px;
    transition: .3s;
    transform: rotate(-45deg);
    position: absolute;
    left: -200px;
    z-index: 999999;
  }
  &:hover{
    &::before{
      top:70%;
      left:100px;
    }
  }
}
