@mixin buttonOutline($color,$bg){
  &{color:$bg;background-image:none;background-color:transparent;border-color:$bg!important;box-shadow:-2px 2px 4px rgba(0,0,0,.35);}
  &:hover{color:$color!important;background-color:$bg;border-color:$bg}
  &.focus,&:focus{box-shadow: none!important;}
}
@mixin button($color,$bg){
  &{color:$color;background-color:$bg;border-color:$bg;box-shadow:-2px 2px 4px rgba(0,0,0,.35);}
  &:hover{color:$color!important;box-shadow: none!important;}
  &.focus,&:focus{box-shadow: inset -2px 2px 4px rgba(0,0,0,.35)!important;}
}
@mixin forFormsLog(){
    background-color: #434b4d;
    color: #EDA316;
    &:focus{
      border: 1px solid #EDA316;
      box-shadow: 0 0 0 0.2rem rgba(237,163,22, 0.25);
    }
}
$text:#212529;
.btn-green{
  @include button(#fff,#465e0b);
}
.btn-green-outline{
  @include buttonOutline(#fff,#465e0b);
}
.bg-green{
  background-color: #91c318;
}
.bg-metall{
  background-color: #434b4d;
}
.outline-n{
  outline: none!important;
}
.pointer{
  cursor: pointer;
}
.show-more-material{
  img{
    transition: .3s;
    transform: rotate(180deg);
  }
}
.show-more-material.collapsed{
  img{
    transition: .3s;
    transform: rotate(0deg)!important;
  }
}
.admin-main-title {
  color: #fff;
  padding: 8px;
  i {
    padding-right: 8px;
    border-right: 1px solid #fff;
    margin-right: 5px;
  }
}
.admin-main{
  padding:0 5px 5px 5px;
  .admin-table-block{
    background-color: #fff;
    padding: 15px;
    table{
      width: 100%;
      tr,th{
        text-align: center;
      }

      tbody{
        img{
          height: 100px;
          width: 150px;
          object-fit: cover;
        }
        tr:nth-child(2n+1){
          background-color: #f8f6f1;
        }
      }
    }
  }
}
#modal{
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right: 0;
  background-color: rgba(0,0,0,.5);
  display: none;
  z-index: 99999;
}
.bg-gray{
  background-color: #f0f0f0;
}
.img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.btn, .custom-file-input{
  cursor: pointer;
}
.btn-yellow-custom{
  @include button(#fff,#EDA316);
}
.btn-yellow-outline-custom{
  @include buttonOutline(#fff,#EDA316);
}
.btn-edit{
  @include button(#fff, #e97c69);
}
.btn-show{
  @include button(#fff, #4b6382);
}
.btn-remove{
  @include button(#fff, #de5b5f);
}
.custom-file-input:focus ~ .custom-file-control{
  box-shadow: none!important;
}
#form-login{
  input[type$=text]{
    @include forFormsLog();
  }
  input[type$=password]{
    @include forFormsLog();
  }
  input[type$=email]{
    @include forFormsLog();
  }

  .custom-control-indicator{
    background-color: transparent;
    border: 1px solid #ced4da;
  }
  .custom-control-input:checked ~ .custom-control-indicator {
    color: #fff;
    background-color: #EDA316;
  }
  .custom-control-input:focus ~ .custom-control-indicator {
    border: 1px solid #EDA316;
    box-shadow: 0 0 0 1px #EDA316, 0 0 0 0.2rem rgba(237,163,22, 0.25);
  }
}

.bg-wrapper{
  background-image: url(../images/templates/cream_dust.png);
}
.services-block{
  .services-overflow{
    overflow: hidden;
    position: relative;
    img{
      transition: .3s;
    }
    .services-overflow-decs{
      display: inline-block;
      transition: .3s;
      position: absolute;
      left: 100%;
      top: 0;
      bottom: 0;
      width: 50%;
    }
    .services-overflow-img-layer{
      background: rgba(0,0,0,.5);
      opacity: 0;
      transition: .3s;
      position: absolute;
      top:0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  &:hover{
    img{
      transform: translateX(-50%);
    }
    .services-overflow{
      .services-overflow-decs{
        left: 50%;
      }
      .services-overflow-img-layer{
        transform: translateX(-50%);
        opacity: 1;
      }
    }
  }
}
@media (max-width: 575px) {
  .icons8-Стрелка-Filled{
    transform: rotate(90deg);
  }
  .services-block{
    .services-overflow-decs{
      width: 75%!important;
    }
    &:hover{
      img{
        transform: translateX(-75%);
      }
      .services-overflow{
        .services-overflow-decs{
          left: 25%;
        }
        .services-overflow-img-layer{
          transform: translateX(-75%);
          opacity: 1;
        }
      }
    }
  }
}
footer{
  color: #fff;
  background-image: url(../images/templates/bg_footer.png);
}
.fl{
  float:left;
}
.fr{
  float: right;
}
.special-title{
  position: relative;
  &::after{
    content: '';
    position: absolute;
    border: 21px solid transparent;
    border-right:10px solid #fbfbfb;
    right: 0;
  }
  &::before{
    content: '';
    position: absolute; /* Абсолютное позиционирование */
    border: 21px solid transparent;
    border-left: 10px solid #fbfbfb;
    left: 0;
  }
}
.nav-link.active{
  background-color: #fff;
  transition: .3s;
}
.shadow{
  box-shadow: -2px 2px 4px rgba(0,0,0,.35);
}
.hidden{
  opacity:0;
}
.visible{
  opacity:1;
}
body{
  font-family: 'PT Sans', sans-serif!important;
}
.img-materials{
  position: relative;
  overflow: hidden;
  &::before{
    content: '';
    background: rgba(255, 255, 255, 0.1);
    height: 30px;
width: 400px;
    top:-30px;
    transition: .3s;
    transform: rotate(-45deg);
    position: absolute;
    left: -200px;
    z-index: 999999;
  }
  &:hover{
    &::before{
      top:70%;
      left:100px;
    }
  }
}
.text-green{
  color:#91c318!important;
}
.bg-beige{
  background-color: #f8f6f1;
}
.admin-main-menu{
  margin: 0;
  li{
    float: left;
    list-style-type: none;
    :hover{
      background: #f8f6f1;
    }
    a{
      display: block;
      padding: 8px;
      text-decoration:none;
      color: $text;
    }
  }
}
#header{
  .nav-link{
    border-radius: 2px;
    color: white!important;
    &:hover{
      color: #465e0b!important;
    }
  }
  a.nav-link.active{
    color: rgba(0,0,0,.5)!important;
  }
}
.layer-footer{
  background-color: rgba(0,0,0,.5);
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999999;
  display: none;
}
.big{
  font-size: 20px;
  letter-spacing: 2px;
}
.footer-input{
  background-image: url(../images/templates/bg_footer.png)!important;
  border: 1px solid white!important;
  color: white!important;
  box-shadow: none!important;
}
.bg{
  background-image: url(../images/templates/bg2.png);
}
.item,.owl-item, .owl-stage, .owl-stage-outer{
  height: 100%;
}




@-webkit-keyframes animate-circle {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes animate-circle {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

.loader {
  --size: 10rem;
  height: var(--size);
  width: var(--size);

}

.loader > .circle {
  --duration: 2s;
  position: absolute;
  height: inherit;
  width: inherit;
  background: #91c318;
  border-radius: 50%;
  -webkit-animation: animate-circle var(--duration) cubic-bezier(.9,.24,.62,.79) infinite;
  animation: animate-circle var(--duration) cubic-bezier(.9,.24,.62,.79) infinite;
}

.loader > .circle:nth-of-type(1) {
  -webkit-animation-delay: 0;
  animation-delay: 0;
}

.loader > .circle:nth-of-type(2) {
  -webkit-animation-delay: calc(var(--duration) / -3);
  animation-delay: calc(var(--duration) / -3);
}

.loader > .circle:nth-of-type(3) {
  -webkit-animation-delay: calc(var(--duration) / -6);
  animation-delay: calc(var(--duration) / -6);
}